<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="mHosts.Net.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <mHosts.Net.Properties.Settings>
            <setting name="hostsPath" serializeAs="String">
                <value>C:\Windows\System32\drivers\etc\hosts</value>
            </setting>
            <setting name="logLevel" serializeAs="String">
                <value>WARNING</value>
            </setting>
            <setting name="allowMutiHosts" serializeAs="String">
                <value>True</value>
            </setting>
        </mHosts.Net.Properties.Settings>
    </userSettings>
</configuration>